<footer class="footer hero-foot" data-theme="dark">
  <div class="container">

    <div class="columns">
      <div class="column">
        <h3 class="title has-text-white">Контакты</h3>
        <address class="has-text-white">
          {% IF SETTINGS_STORE_REGION %}<div><b>Адрес</b> <span>{SETTINGS_STORE_REGION}</span></div>{% ENDIF %}
          {% IF SETTINGS_STORE_WORK_TIME %}<div><b>Режим работы</b> <time>{SETTINGS_STORE_WORK_TIME}</time></div>{% ENDIF %}
          {% IF SETTINGS_STORE_PHONE_NUMBER1 %}<div><b>Телефон 1</b> <a href="tel:@@PHONE_1.Value">@@PHONE_1.Template</a></div>{% ENDIF %}
          {% IF SETTINGS_STORE_PHONE_NUMBER2 %}<div><b>Телефон 2</b> <a href="tel:@@PHONE_2.Value">@@PHONE_2.Template</a></div>{% ENDIF %}
          {% IF SETTINGS_STORE_PHONE_NUMBER3 %}<div><b>Факс</b> <a href="tel:@@PHONE_3.Value">@@PHONE_3.Template</a></div>{% ENDIF %}
          {% IF SETTINGS_STORE_EMAIL_MAIN %}<div><b>Email</b> <a href="mailto:{SETTINGS_STORE_EMAIL_MAIN}">{SETTINGS_STORE_EMAIL_MAIN}</a></div>{% ENDIF %}
          {% IF SETTINGS_STORE_SKYPE %}<div><b>Skype</b> <a href="skype:{SETTINGS_STORE_SKYPE}?call">{SETTINGS_STORE_SKYPE}</a></div>{% ENDIF %}
        </address>
      </div>

      <div class="column">
        <h3 class="title has-text-white">Давайте дружить</h3>
        <div class="columns">
          <div class="column is-half">
            @@include("../../components/social/social.html")
          </div>
        </div>
      </div>
    </div>

    <!-- Подвал. Копирайт -->
    <div class="content has-text-centered is-size-7 has-text-white">
      <div>&copy;{DATE_YEAR} {SETTINGS_STORE_NAME}. Все права защищены.</div>
      <div>{SETTINGS_STORE_ORG_NAME}.</div>
      <div>{COPYRIGHT_FOR_DESIGN_THEMENAME}</div>
      <div style="display: none;">{SETTINGS_STORE_HTML_CODE}</div>
    </div>

  </div>
</footer>