<div id="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs-list">
        <li class="home"><a href="{INDEX_PAGE_URL}" title="Перейти на главную"><span>Главная</span></a></li>
        {% IF MOD_LNAME=cart %}
        <li><strong>{% IF cart_items_empty %}Корзина покупок пуста{% ELSE %}Корзина{% ENDIF %}</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=login %}
        <li><strong>Войти или зарегистрироваться</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=change %}
        <li><a href="{USER_RECOVERY_URL}" title="Восстановление пароля"><strong>Восстановление пароля</strong></a></li>
        <li><strong>Активация нового пароля</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=recovery %}
        <li><strong>Восстановление пароля</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=favorites %}
        <li><strong>Избранные товары</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=history_info %}
        <li><a href="{USER_SETTINGS_URL}" title="Личный кабинет"><span>Личный кабинет</span></a></li>
        <li><a href="{USER_HISTORY_LIST_URL}" title="История моих заказов"><span>Мои заказы</span></a></li>
        <li><strong>Карточка заказа</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=history_list %}
        <li><a href="{USER_SETTINGS_URL}" title="Личный кабинет"><span>Личный кабинет</span></a></li>
        <li><strong>Мои заказы</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=settings %}
        <li><strong>Личный кабинет</strong></li>
        {% ELSEIF MOD_LNAME=user && ACT=register %}
        <li><strong>Регистрация клиента</strong></li>
        {% ELSEIF MOD_LNAME=order && ACT=stage %}
        <li><a href="{CART_URL}" title="Перейти в корзину"><span>Корзина</span></a></li>
        <li><strong>Оформление заказа</strong></li>
        {% ELSEIF MOD_LNAME=search %}
        <li><strong>Поиск</strong></li>
        {% ELSEIF MOD_LNAME=discount && ACT=index && ID %}
        <li><a href="{DISCOUNT_URL}" title="Перейти на страницу акций магазина"><span>Акции магазина</span></a></li>
        <li><strong>{PROMOTIONAL_CAMPAIGN_NAME}</strong></li>
        {% ELSEIF MOD_LNAME=discount && ACT=index %}
        <li><strong>Акции магазина</strong></li>
        {% ELSEIF MOD_LNAME=order && ACT=info %}
        <li><a href="{CART_URL}" title="Перейти в корзину"><span>Корзина</span></a></li>
        <li><a href="{CART_URL}"><span>Оформление заказа</span></a></li>
        <li>Заказ {% IF ORDER_NUM %}№{ORDER_NUM}{% ENDIF %} успешно оформлен.</li>
        {% ELSEIF MOD_LNAME=feedback && ACT=index %}
        <li><strong>Связь с администрацией</strong></li>
        {% ELSEIF CURRENT_URL=NEWS_SHOP_URL || CURRENT_URL=NEWS_ARTICLES_URL || CURRENT_URL=NEWS_MASS_MEDIA_URL || CURRENT_URL=NEWS_ALL_URL %}
        <li><a href="{CURRENT_URL}"><strong>{NEWS_SECTION_NAME}</strong></a></li>
        {% ELSEIF MOD_LNAME=news %}
        <li><a href="{%IF NEWS_ARTICLES_URL %}{NEWS_ARTICLES_URL} {%ELSEIF NEWS_SHOP_URL %} {NEWS_SHOP_URL} {%ELSEIF NEWS_MASS_MEDIA_URL %} {NEWS_MASS_MEDIA_URL} {%ELSE%} {NEWS_SECTION_URL}{%ENDIF%}" title="{NEWS_SECTION_NAME}"><span>{NEWS_SECTION_NAME}</span></a></li>
        {% IF NEWS_TITLE %}<li><a href="{CURRENT_URL}"><strong>{NEWS_TITLE}</strong></a></li> {% ENDIF %}
        {% ELSEIF MOD_LNAME=compare %}
        <li><strong>Список сравнения</strong></li>
        {% ELSEIF MOD_LNAME=page %}
        <li><a href="{CURRENT_URL}"><strong>{PAGE_NAME}</strong></a></li>
        {% ELSEIF MOD_LNAME= %}
        <li><strong>Внутренняя ошибка сервера</strong></li>
        {% ELSEIF MOD_LNAME=callback %}
        <li><strong>Заказ обратного звонка</strong></li>
        {% ELSEIF MOD_LNAME=goods %}
        <li><a href="{CATALOG_URL}" title="Перейти в каталог товаров"><span>Каталог</span></a></li>
          {% FOR upper_navigation %}
          <li><a href="{upper_navigation.URL}" title="Перейти в категорию &laquo;{upper_navigation.NAME}&raquo;"><span>{upper_navigation.NAME}</span></a></li>
          {% ENDFOR %}
        <li><a href="{GOODS_URL}"><strong>{GOODS_NAME}</strong></a></li>
        {% ELSEIF MOD_LNAME=catalog %}
          {% IF IS_FULL_CATALOG %}
            <li><a href="{CATALOG_URL}" title="Перейти в каталог продукции нашего магазина"><strong>Каталог</strong></a></li>
          {% ELSE %}
            <li><a href="{CATALOG_URL}" title="Перейти в каталог продукции нашего магазина"><span>Каталог</span></a></li>
            {% FOR upper_navigation %}
              {% IF upper_navigation.CURRENT %}
              <li><a href="{upper_navigation.URL}" title="Перейти в категорию &laquo;{upper_navigation.NAME}&raquo;"><strong>{upper_navigation.NAME}</strong></a></li>
              {% ELSEIF upper_navigation.CURRENT_PARENT %}
              <li><a href="{upper_navigation.URL}" title="Перейти в категорию &laquo;{upper_navigation.NAME}&raquo;"><span>{upper_navigation.NAME}</span></a></li>
              {% ENDIF %}
            {% ENDFOR %}
          {% ENDIF %}
        {% ENDIF %}        
      </ul>
    </div>
</div>