/* Подвал. Соц сети */
.vk {color: #4B729F;}
.odnoklassniki {color: #FFC107;}
.youtube {color: #E53935;}
.telegram {color: #039BE5;}
.tiktok {color: #000000;}
.viber {color: #665CAC;}
.whatsapp {color: #4CAF50;}
.instagram {color: #E4405F;}
.facebook {color: #1877F2;}
.twitter {color: #1DA1F2;}
.skype {color: #00AFF0;}