<header class="hero-head header">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <strong>{SETTINGS_STORE_NAME}</strong>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/">Главная</a>
            <a class="navbar-item" href="/catalog">Каталог</a>
            <a class="navbar-item" href="/feedback">Контакты</a>
            <a class="navbar-item" href="/cart">Корзина</a>
          </div>
        </div>
      </div>
    </nav>
</header>