@@include('Organization.html')

{% IFNOT index_page %}
  @@include('BreadCrumbs.html')
{% ENDIF %}

{% IF index_page %}
  {% IFNOT index_page_new_goods_empty %}
    {% FOR index_page_new_goods %}
      @@include('ProductSchema.html', {"goods_array": "index_page_new_goods"})
    {% ENDFOR %}
  {% ENDIF %}
  {% IFNOT index_page_goods_empty %}
    {% FOR index_page_goods %}
      @@include('ProductSchema.html', {"goods_array": "index_page_goods"})
    {% ENDFOR %}
  {% ENDIF %}
  {% IFNOT index_page_favorites_goods_empty %}
    {% FOR index_page_favorites_goods %}
      @@include('ProductSchema.html', {"goods_array": "index_page_favorites_goods"})
    {% ENDFOR %}
  {% ENDIF %}
{% ENDIF %}