@@include('Organization.html')

{% IFNOT index_page %}
  @@include('BreadCrumbs.html')
{% ENDIF %}

{% IF index_page %}  
    {% FOR index_page_new_goods %}
      @@include('ProductSchema.html', {"goods_array": "index_page_new_goods"})
    {% ENDFOR %}  
  
    {% FOR index_page_goods %}
      @@include('ProductSchema.html', {"goods_array": "index_page_goods"})
    {% ENDFOR %}  
  
    {% FOR index_page_favorites_goods %}
      @@include('ProductSchema.html', {"goods_array": "index_page_favorites_goods"})
    {% ENDFOR %}  
{% ENDIF %}