@import "_variables.scss";
body {
  display: flex;
  flex-direction: column;

  &.index {
    // background-color: $colorGreen;

    @media (max-width: 1200px) {
      background-color: $colorPink;
    }
  }
}
